# Datasets for Prediction

In [1]:
import torch
import numpy as np
import pandas as pd
import plotly.express as px

In [12]:
df = pd.DataFrame()
for i, n in enumerate(range(-5, 6)):
    fx = pd.DataFrame({'x': n, 'y': n**2}, index=[i])
    df = pd.concat([df, fx])
df

    x   y
0  -5  25
1  -4  16
2  -3   9
3  -2   4
4  -1   1
5   0   0
6   1   1
7   2   4
8   3   9
9   4  16
10  5  25